.product-container {
    display: flex;
}
.products {
    display: flex;
    justify-content: center;
}
.product-list {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0;
    width: 100%;
}
.product-list__message {
    display: block;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
