.sort-panel {
    padding: 7px;
    background-color: #f5f7ff;
    border-bottom: 1px solid #ededed;
    box-shadow: 0 1px 5px #ededed;
    color: #545454;
}
.sort-panel__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown__container {
    display: flex;
    gap: 10px;
}