.cart__calc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #e3e3e3;
	padding: 20px;
	border-radius: 6px;
	flex-grow: 1;
	margin-left: 20px;
	height: 350px;
}

.calc__btn {
	font-family: inherit;
	font-size: 16px;
	background-color: #56ffa2;
	font-weight: 700;
	width: 100%;
	padding: 20px 55px;
	border-radius: 8px;
	cursor: pointer;
    text-align: center;
	transition: .2s ease-out;
	white-space: nowrap;
}
.calc__btn:hover {
	background-color: #50ea96;
}
.calc__container {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	gap: 20px;
	border-top: 1px solid #e3e3e3;
}
.calc__title {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0;
}
.calc__price {
	font-weight: 700;
}
.calc__item {
	display: flex;
	justify-content: space-between;
}

.calc__discount{
	color: #ea1111;
	font-weight: 700;
}
.calc__total {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	font-size: 20px;
	font-weight: 700;
	border-top: 1px solid #e3e3e3;
}