.modal {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: .2s ease-out;
}
.modal.active-modal {
	opacity: 1;
	pointer-events: all;
}
.modal__content {
	padding: 20px;
	border-radius: 6px;
	background-color: #fff;
	width: 50vw;
	transform: scale(.5);
	transition: .3s all;
}
.modal__content.active-modal {
	transform: scale(1);
}