.product__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #e3e3e3;
    padding: 30px 0;
    gap: 20px;
}

.product__item:last-child {
    border: none;
}

.product__options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.product__image-container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 210px;
    flex-shrink: 0;
}

.product__image {
    max-height: 190px;
    height: auto;
    width: auto;
    max-width: 100%;
}

.product__title {
    font-size: 16px;
    font-weight: 700;
}

.product__left-container {
    display: flex;
    gap: 20px;
}

.product__right-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 180px;
}

.product__price-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.product__price {
    font-size: 18px;
    font-weight: 600;
}

.product__price_prev {
    font-size: 14px;
    color: #797979;
    text-decoration: line-through;
}

.product__discount {
    font-size: 14px;
    padding: 5px;
    border-radius: 7px;
    background-color: #ec0000;
    color: white;
}

.blue-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #0156FF;
    border-radius: 6px;
    padding: 12px 17px;
    width: fit-content;
    cursor: pointer;
    transition: all .2s ease-out;
    white-space: nowrap;
}

.blue-btn:hover {
    background-color: #0b45b6;
}

.product__desc {
    font-size: 13px;
    line-height: .7em;
    color: #333;
    padding-left: 20px;
    animation: desc .3s ease-out 0s;
    transition: .3s;
}

@keyframes desc {
    from {
        transform: translateX(-25px);
    }
    to {
        transform: translateX(0);
    }

}

.product__desc_btn {
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: #333;
    transition: .2s ease-out;
    text-align: start;
}

.product__desc_btn:after {
    content: '';
    position: absolute;
    width: 10px;
    padding: 4px;
    background-image: url("../../../images/dropdown.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    right: 5%;
    top: 25%;
    transition: .2s ease-out;
}
.product__desc_btn.rotate:after {
    transform: rotate(180deg);
}
.product__article {
    justify-self: end;
    font-size: 12px;
    color: #797979;
}