.header {
    border-bottom: 1px solid #ededed;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.cart__icon {
    width: 25px;
    transition: .1s ease-out;
    margin-bottom: 5px;
}

.header__cart {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    font-family: inherit;
    font-weight: 700;
}
.header__cart:hover {
    opacity: .6;
}
.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo__image {
    margin: 0;
}

.logo__text {
    font-size: 23px;
    font-weight: 700;
}