.header {
    border-bottom: 1px solid #ededed;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.cart__icon {
    width: 30px;
}

.cart__icon:hover {
   opacity: .6;
}

.header__cart {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo__image {
    margin: 0;
}

.logo__text {
    font-size: 23px;
    font-weight: 600;
    color: #3a3a3a;
}