.header {
    border-bottom: 1px solid #ededed;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__icon {
    width: 30px;
}

.header__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.cart__title {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: 500;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__image {
    margin: 0;
}
.logo__text {
    font-size: 23px;
    font-weight: 500;
}