.payment__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 430px;
	height: 270px;
	background: radial-gradient(circle, rgba(139,206,246,1) 0%, rgba(115,155,247,1) 100%);
	padding: 25px 30px;
	border-radius: 13px;
}

.card__number {
	display: block;
	width: 310px;
	font-size: 30px;
	font-weight: 700;
	margin-top: 110px;
}

.card__holder {
	width: 100%;
	font-size: 20px;
	font-weight: 700;
}

.card__pay-system-icon {
	position: absolute;
	right: 8%;
	width: 65px;
	animation: icon .2s ease-out 0s;
}
.card__chip {
	width: 60px;
	position: absolute;
	left: 8%;
}
@keyframes icon {
	from {
		opacity: .2;
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
.card__expiration {
	font-size: 22px;
	font-weight: 700;
	align-self: end;
}
.card__bottom-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
}